/* Шрифт */
@font-face {
  font-family: "GolosTextWebMedium";
  src:
      url("./typefaces/Golos%20Text_Medium.woff2") format("woff2");
}
/* Шрифт */

/* Обнуление */
body, h1, h2, p, span, a, textarea, input {
  margin: 0;
  text-decoration: none;
  color: #000;

  border: none;
  background: none;
  outline: none;

  font-family: "GolosTextWebMedium", sans-serif;
  font-weight: normal;
 }
/* Обнуление */

body {
  /* Лейаут */
  max-width: 1016px;

  /* Отступы */
  margin: 64px auto;
  padding: 0 32px; /* Компенсация поля набора */
}

header {
  /* Лейаут */
  display: flex;
  justify-content: space-between;

  /* Отступы */
  margin-bottom: 32px;
}

h1 {
  /* Отступы */
  margin-right: 16px;
}

main {
  /* Лейаут */
  display: flex;
  flex-direction: column;

  /* Отступы. Компенсация поля набора */
  margin: -8px -16px;
}

textarea {
  /* Лейаут */
  box-sizing: border-box;
  width: 100%;
  height: 50VH;

  /* Отступы. Компенсация поля набора */
  padding: 8px 16px;
  margin-bottom: 24px;

  /* Стиль */
  background-color: #F5F5F5;
  border-radius: 12px;
}

input {
  /* Отступы */
  padding: 16px 0;
  box-sizing: border-box;

  /* Стиль */
  border-radius: 12px;
}

/* Типографика */
.type-min {
  font-size: 20px;
  line-height: 28px;
}

.type-30-43 {
  font-size: 30px;
  line-height: 43px;
}

.type-max {
  font-size: 45px;
  line-height: 50px;
}
/* Типографика */

/* Интерактив */
input:hover {
  background-color: #F5F5F5;
}

.smooth {
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}
/* Интерактив */

/* Маленькие экраны */
@media (max-width: 500px) {
  /* Отступы */
  body {
    margin: 32px auto;
    padding: 0 16px; /* Компенсация поля набора */
  }

  header {
    flex-direction: column;
  }

  /* Типографика */
  @font-face {
    font-family: "GolosTextWebBold";
    src:
        url("./typefaces/Golos%20Text_Bold.woff2") format("woff2");
  }

  h1 {
    font-family: "GolosTextWebBold", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }

  .type-30-43,
  .type-min {
    font-size: 14px;
    line-height: 20px;
  }

  .type-max {
    font-size: 20px;
    line-height: 22px;
  }

  /* Интерактив */
  textarea {
    margin-bottom: 16px;
  }
}
