/* Шрифт */
@font-face {
  font-family: "GolosTextRegular";
  src: url("./typefaces/Golos%20Text_Regular.woff2") format("woff2");
}
/* Шрифт */



/* Обнуление */
body, h1, h2, p, span, a {
  margin: 0;
  text-decoration: none;
  color: #000;

  font-family: "GolosTextRegular", sans-serif;
  font-weight: normal;
 }
/* Обнуление */



/* Лэйаут */
main {
  display: flex;
  flex-flow: row wrap;
}

.project {
  display: flex; /* Без него картинки не растянутся по модулю сетки */
  flex-flow: column;
  margin: 0 1.25vw 2.5vw 1.25vw;
}

.col-1 {
  flex: 1 0 14vw;
  max-width: 262px;
}

.col-2 {
  flex: 1 0 29vw;
  max-width: 571px;
}

.col-3 {
  flex: 1 0 45vw;
  max-width: 880px;
}

.col-4 {
  flex: 1 0 61vw;
  max-width: 1189px;
}

.col-6 {
  flex: 1 0 94vw;
  max-width: 1807px;
}

.full-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
}

.full-width h2,
.full-width p {
  margin-left: 1.25vw;
  margin-right: 1.25vw;
  /* Подписи выровнены по марджинам страницы */
}
/* Лэйаут */



/* Картинки и вставленые сайты */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0; /* Чтобы картинки могли быть больше контейнера. Scale() и без этого работает */
}

.cover {
  display: flex;
  flex: 1 1 auto; /* Освобождает картинки, чтобы .project занял всю высоту строки */
  overflow: hidden; /* Картинки не вылезают за гринцы фрейма */
}

.cover-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  aspect-ratio: 16/9;
}

.cover-logo {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.o-yandex-bg {
  width: 200%;
  height: 200%;
}

.yandex-zoom {
  background-image: url(./pics/yandex-zoom-logo.svg);
  background: linear-gradient(160.83deg, rgba(252, 63, 29, 0.2) 0%, rgba(255, 255, 255, 0) 38.36%), radial-gradient(145.15% 100% at 100% 100%, #2D8CFF 0%, rgba(255, 0, 153, .4) 100%), radial-gradient(145.15% 100% at 0% 0%, #FC3F1D 0%, rgba(255, 0, 153, 0.4) 100%);
  background-blend-mode: multiply;
}

.beer-insiders {
  background: url(./pics/beer-insiders-bg.png);
  background-size: cover;
}

.beer-insiders-logo {
  width: 65%;
  height: 65%;
  margin-top: 7%;
}

.iframe {
  width: auto;
  height: 75vh;
  margin: 0 -1.25vw;
}

.gray-bg {
  background-color: #F5F5F5;
}

.notion .tags {
  display: flex;
  gap: .4em;
  flex-wrap: wrap;
}

.tags span {
  font-size: 90px;
  line-height: 1em;
  padding: .1em .4em .2em;
  border-radius: 1vw;
}

.tags span:nth-child(1), 
.tags span:nth-child(4),
.tags span:nth-child(8) {
  background-color: #F2F2F2;
}

.tags span:nth-child(2), 
.tags span:nth-child(5),
.tags span:nth-child(6) {
  background-color: #FBEBF2;
}

.tags span:nth-child(3), 
.tags span:nth-child(7) {
  background-color: #FFF3D9;
}
/* Картинки и вставленые сайты */



/* Вертикальные и отступы */
body,
header,
footer {
  margin: 0 1.25vw 2.5vw 1.25vw;
}

header {
  margin-top: 2vw;
}

main {
  margin-bottom: 2.5vw;
}

h2 {
  margin-top: calc(1.2em * 0.3);
  margin-bottom: calc(1.2em * 0.2);
}

.about {
  margin-bottom: 0.5em;
}
/* Вертикальные и отступы */



/* Ссылки и интерактив */
a:not(.cover, .banner *) {
  border-bottom: 1px solid lightgray;
}

/* Интерактив */
a:not(.cover, .banner *):hover {
  border-bottom: 1px solid black;
}

.cover:hover img {
  transform: scale(1.05);
}

.o-yandex:hover img {
  transform: rotate(36deg);
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

a,
img {
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}

.tags:hover span {
  border-radius: 50em;
  transition-duration: 1.25s;
  transition-timing-function: ease-in;
}
/* Ссылки и интерактив */



/* Типографика */
h1,
p,
.social {
  font-size: 20px;
  line-height: 1.3em;
}

h2 {
  font-size: 30px;
  line-height: 1.2em;
}

.about {
  font-size: 45px;
  line-height: 1.15em;
}

.caps {
  font-size: 0.95em;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.apostrophe {
  margin-right: -0.1em;
}

.quotes {
  margin-left: -0.23em;
}

.social {
  line-height: 1.5em;
}

.social a:not(:last-child) {
  margin-right: 1em;
}
/* Типографика */



/* Баннер */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmin;
}

.banner a h2 {
  font-size: max(12px, 5vmin);
  color: #ef4e23;
}

.banner a {
  box-sizing: border-box;

  height: 94vmin;
  width: 94vmin;
  padding: 1em;
  border-radius: 9999px;
  border: 0.5vmin solid #ef4e23;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner a:hover {
  background: #ef4e23;
}

.banner a:hover h2 {
  color: white;
}
/* Баннер */



/* Другие экраны */
@media (max-width: 1023px) {
  .col-2 {
    max-width: 880px;  /* 571 → 880px, чтобы было во всю ширину, если один на строке */
  }

  .col-4,
  .col-6 {
    flex: 1 1 95vw;  /* Шринк, чтобы влез правый марджин */
  }

  .about {
    width: 100%;
  }
  
  h2 {
    font-size: 20px;
  }

  h1,
  .project p,
  .social {
    font-size: 14px;
  }

  .tags span {
    font-size: 45px;
  }

  .about {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  header {
    margin-top: 2.5vw;
    margin-bottom: 5vw;
  }

  .project {
    margin-bottom: 5vw;
  }

  h2 {
    font-size: 16px;
  }

  h1,
  .project p,
  .social.about {
    font-size: 12px;
  }

  .tags span {
    font-size: 30px;
  }

  .about {
    font-size: 20px;
  }
}

@media (max-width: 319px) {
  @font-face {
    font-family: "GolosTextWebMedium";
    src:
        url("./typefaces/Golos%20Text_Medium.woff2") format("woff2");
  }

  .project h2 :not(p) {
    font-family: "GolosTextWebMedium", sans-serif;
    font-weight: normal;
    font-size: 14px;
  }

  .tags span {
    font-size: 14px;
  }

  .about {
    font-size: 20px;
  }
}
/* Другие экраны */