/* Переменные */
:root {
  --module: 20px;
  --orange: #ef4e23;

  --col-1: calc((100% - var(--module) * 7) / 6);
  --col-2: calc((100% - var(--module) * 2) / 3);
  --col-3: calc((100% - var(--module) * 1) / 2);
  --col-4: calc(100% - var(--module) - var(--col-2));
  --col-6: 1 0 100%;
}

/* Переменные */

/* Шрифт */
@font-face {
  font-family: "GolosTextRegular";
  src: url("./typefaces/Golos%20Text_Regular.woff2") format("woff2");
}

/* Шрифт */



/* Обнуление */
body,
h1,
h2,
p,
span,
a {
  margin: 0;
  text-decoration: none;
  color: #000;

  font-family: "GolosTextRegular", sans-serif;
  font-weight: normal;
}

/* Обнуление */



/* Лэйаут */
body {
  display: flex;
  flex-direction: column;
  margin: 0 var(--module) var(--module);
}

.above {
  display: flex;
  flex-direction: column;

  z-index: 1;
  background: white;
  padding-bottom: var(--module);
  /* Имитирует гаттер и свободное пространство под верхним слоем */
}

header {
  position: sticky;
  margin-bottom: var(--module);
  top: var(--module);
}

main {
  display: flex;
  flex-flow: row wrap;
  gap: var(--module);
}

.project {
  display: flex;
  /* Без него картинки не растянутся по модулю сетки */
  flex-flow: column;
}

.project h2 {
  margin-top: .20em;
}

.col-1 {
  flex: 1 0 var(--col-1);
  max-width: 294px;
}

.col-2 {
  flex: 1 0 var(--col-2);
  max-width: 608px;
}

.col-3 {
  flex: 1 0 var(--col-3);
  max-width: 922px;
}

.col-4 {
  flex: 1 0 var(--col-4);
  max-width: 1235px;
}

.col-6 {
  flex: var(--col-6);
  /* Если не задать 100%, то следующий модуль может влезть в строку 6-колонника */
  max-width: 1863px;
}

footer {
  position: sticky;
  bottom: var(--module);
  /* Без нижнего отступа не прилепляется */
}

/* Лэйаут */



/* Картинки и вставленые сайты */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  /* Чтобы картинки могли быть больше контейнера. Scale() и без этого работает */
}

.cover {
  display: flex;
  flex: 1 1 auto;
  /* Освобождает картинки, чтобы .project занял всю высоту строки */
  overflow: hidden;
  /* Картинки не вылезают за границы фрейма */
}

.cover-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  aspect-ratio: 16/9;
}

.cover-logo {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.beer-insiders {
  background: url(./pics/beer-insiders-bg.png);
  background-size: cover;
}

.beer-insiders-logo {
  width: 65%;
  height: 65%;
  margin-top: 7%;
}

.iframe {
  height: 100%;
}

.gray-bg {
  background-color: #F5F5F5;
}

.notion .tags {
  display: flex;
  gap: .4em;
  flex-wrap: wrap;
}

.tags span {
  font-size: calc(var(--module) * 4);
  line-height: 1em;
  padding: .1em .4em .2em;
  border-radius: .1em;
}

.tags span:nth-child(1),
.tags span:nth-child(4),
.tags span:nth-child(8),
.tags span:nth-child(9) {
  background-color: #F2F2F2;
}

.tags span:nth-child(2),
.tags span:nth-child(5),
.tags span:nth-child(6) {
  background-color: #FBEBF2;
}

.tags span:nth-child(3),
.tags span:nth-child(7) {
  background-color: #FFF3D9;
}

.yandex-zoom {
  background-image: url(./pics/yandex-zoom-logo.svg);
  background: linear-gradient(160.83deg, rgba(252, 63, 29, 0.2) 0%, rgba(255, 255, 255, 0) 38.36%), radial-gradient(145.15% 100% at 100% 100%, #2D8CFF 0%, rgba(255, 0, 153, .4) 100%), radial-gradient(145.15% 100% at 0% 0%, #FC3F1D 0%, rgba(255, 0, 153, 0.4) 100%);
  background-blend-mode: multiply;
}

/* Картинки и вставленые сайты */



/* Интерактив */
a:not(.cover, .banner *):hover {
  border-bottom: 1px solid black;
}

.cover:hover img {
  transform: scale(1.05);
}

.o-yandex:hover img {
  transform: rotate(36deg);
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

a,
img {
  transition-duration: 0.125s;
  transition-timing-function: ease-in;
}

.tags:hover span {
  border-radius: 50em;
  transition-duration: 1.25s;
  transition-timing-function: ease-in;
}

/* Интерактив */



/* Типографика */
h2,
h1,
p,
.social {
  font-size: var(--module);
}

.project p {
  color: #a0a0a0;
}

.about {
  font-size: calc(var(--module) * 2);
  line-height: 1.15em;
  margin-bottom: calc(var(--module) / 4);
}

.caps {
  font-size: 0.95em;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.apostrophe {
  margin-right: -0.1em;
}

.quotes {
  margin-left: -0.48em;
}

.social {
  line-height: 1.5em;
}

.social a:not(:last-child) {
  margin-right: 1em;
}

/* Типографика */



/* Баннер */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vmin;
}

.banner a h2 {
  font-size: max(12px, 5vmin);
  color: var(--orange);
}

.banner a {
  box-sizing: border-box;

  height: 94vmin;
  width: 94vmin;
  padding: 1em;
  border-radius: 9999px;
  border: 0.5vmin solid var(--orange);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner a:hover {
  background: var(--orange);
}

.banner a:hover h2 {
  color: white;
}

/* Баннер */



/* Другие экраны */
@media (max-width: 1135px) {
  :root {
    --module: 16px;
  }
}

@media (max-width: 905px) {
  :root {
    --module: 12px;
  }
}


@media (max-width: 480px) {

  .col-2,
  .col-3 {
    flex: var(--col-6);
    max-width: 1863px;
  }

  .iframe {
    height: 75vh;
  }

  .tags span {
    font-size: calc(var(--module) * 3);
  }
}

@media (max-width: 319px) {
  .notion .tags {
    gap: .2em;
  }

  .tags span {
    font-size: var(--module);
  }

  footer {
    position: inherit;
  }

  .about {
    font-size: calc(var(--module) * 1.5);
  }
}

/* Другие экраны */